import(
    methods,
    BiocParallel,
    pROC
)
importFrom("IRanges", IRanges)
importFrom("compiler", cmpfun)
importFrom("deSolve", ode)
importFrom("rootSolve", multiroot)
importFrom("preprocessCore", normalize.quantiles)
importClassesFrom("Biobase",
    AnnotatedDataFrame,
    ExpressionSet
    )
importFrom("Biobase",
    combine,
    exprs,
    fData,
    pData,
    featureNames,
    "featureNames<-",
    ExpressionSet
    )
importFrom("GenomicFeatures",
    exonsBy,
    transcriptsBy,
    intronsByTranscript
    )
importFrom("GenomicRanges",
    reduce,
    psetdiff,
    seqnames,
    start,
    end,
    strand,
    width
    )
importFrom("BiocGenerics", 
    unlist
    )
export(
    "newINSPEcT",
    "makeRPKMs"
)
exportMethods(
    "[",
    "chisqmodel",
    "chisqtest",
    "combine",
    "dim",
    "featureNames",
    "featureNames<-",
    "geneClass",
    "getModel",
    "getModel<-",
    "inHeatmap",
    "labeledSF",
    "llrtests",
    "llrtests<-",
    "logLik",
    "makeExonsGtfFromDb",
    "makeIntronsGtfFromDb",
    "makeModelRates",
    "makeSimDataset",
    "makeSimModel",
    "modelingParams",
    "modelingParams<-",
    "modelRates",
    "modelSelection",
    "modelSelection<-",
    "nGenes",
    "nTpts",
    "plotGene",
    "ratePvals",
    "ratesFirstGuess",
    "ratesFirstGuessVar",
    "removeModel",
    "rocCurve",
    "rocThresholds",
    "sfPlot",
    "show",
    "thresholds",
    "thresholds<-",
    "totalSF",
    "tpts",
    "viewModelRates"
)
exportClasses(
    "INSPEcT",
     "INSPEcT_model" 
)
